
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <style>
        html {
            font-size: 16px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/bootstrap.css" />
    <script src="~/Assets/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height:4rem;background-color:#002b65">
            <div class="col-md-3" style="color:white; margin:auto auto;text-align:center;vertical-align:middle">
                <a href="/Home/Index" style="text-decoration:none">
                    <img src="~/Assets/Image/logo.png" style="height:3rem;border-radius:3px" />
                </a>
            </div>
            <div class="col-md-7" style="text-align:center">
                <ul class="nav">
                    <li class="nav-item" style="text-align:center">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/add-64.png" style="width:1.8rem; height:1.8rem" /><br />
                            Thêm SP
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/smart-phone.png" style="width:1.8rem; height:1.8rem" /><br />
                            Thêm hãng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/list-ingredients-64.png" style="width:1.8rem; height:1.8rem" /><br />
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/search-3-64.png" style="width:1.8rem; height:1.8rem" /><br />
                            Tìm kiếm
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/login-64.png" style="width:1.8rem; height:1.8rem" /><br />
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2" style="text-align:left;margin:auto auto">
                <h2 style="color:white">Adminstrator</h2>
            </div>
        </div>
    </div>
    <div class="container" style="height:auto">

    </div>
    <div class="container-fluid">
        <div class="row" style="background-color:#e8e8e8;height:100px">
            <div class="col-md-6" style="text-align:right;margin:auto auto">
                <span style="font-weight:bold">TỔNG ĐÀI 24/7</span><br />
                <span>(8h00 đến 21h30 tất cả các ngày trong tuần)</span>
            </div>
            <div class="col-md-6" style="text-align:left;margin:auto auto;font-size:40px">
                <span style="color:blue">(+84) 033 8016 618</span>
            </div>
        </div>
        <div class="row" style="background-color:#efeded;border-top:1px solid red;height:auto">
            <div class="col-md-6" style="text-align:center">
                <table style="float:right;">
                    <tr>
                        <td style="font-weight:bold">Hệ thống cửa hàng H2N mobile</td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Phú</span>
                            140 Lê Trọng Tấn, P.Tây Thạnh, Q.Tân Phú,TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Phú</span>
                            30/52 Đỗ Nhuận, P.Sơn kỳ, Q.Tân Phú,TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Bình</span>
                            162 Trường Chinh, P.12, Q.Tân Bình,TP.HCM
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6" style="text-align:center">
                <table style="float:left">
                    <tr>
                        <td style="font-weight:bold">Hệ thống cửa hàng H2N mobile</td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.6</span>
                            31 Bình Phú, P.10, Quận 6, TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Phú</span>
                            18B-19B, 32A, P.10, Quận 6, TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Bình</span>
                            999 Lũy Bán Bích, P.Tân Quý, Q.Tân Phú, TP.HCM
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="background-color:#151515;text-align:center;color:white">
            <span>
                Copyright © 2018 H2N Mobile GPKD 41X8032798 UBNN Quận Tân Phú cấp ngày 28/5/2018 , Inc. All rights reserved
            </span><br />
            <span>
                140 Lê Trọng Tấn, P.Tây Thạnh, Q.Tân Phú, Tp.HCM - 033 8016 618 (Zalo) - thengoc828@gmail.com
            </span>
        </div>
    </div>
</body>
</html>
