<a href="@Url.Action("XemGioHang","GioHang")" style="color:white" class="nav-item">
    <img src="~/Assets/Image/cart-69-128.png" style="width:1.8rem; height:1.8rem" /><span style="font-weight:bold">(@ViewBag.SoLuong)</span><br />
    Giỏ hàng
</a>
