
@{
    ViewBag.Title = "ThongBaoThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center">
    <h2>Đặt hàng thành công</h2>
    <p>Chúng tôi sẽ liên hệ để xác nhận đơn hàng trong thời gian sớm nhất</p>
</div>


