
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/bootstrap.css" />
    <script src="~/Assets/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid" style="color:white;">
        <div class="row" style="height:30px; background-color:#2f2f2f;text-align:center;">
            <div class="col-3" style="margin: auto auto">
                <span>Đổi trả<span style="color:red">14</span>ngày</span>
            </div>
            <div class="col-3" style="margin: auto auto">
                <span>Hotline: 033 8016 618(Zalo)</span>
            </div>
            <div class="col-6" style="margin: auto auto;font-size:12px">
                <span style="margin-right:5px"><a href="#" style="text-decoration:none; color:white">CHÍNH SÁCH BẢO HÀNH</a></span>
                <span style="margin-right:5px"><a href="#" style="text-decoration:none; color:white">MUA TRẢ GÓP</a></span>
                <span style="margin-right:5px"><a href="#" style="text-decoration:none; color:white">THU CŨ ĐỔI MỚI</a></span>
                <span style="margin-right:5px"><a href="#" style="text-decoration:none; color:white">TIN CÔNG NGHỆ</a></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="height:70px;background-color:#c10000">
            <div class="col-3" style="color:white; margin:auto auto;text-align:center">
                <a href="#" style="text-decoration:none">
                    <span style="font-size:42px;color:white">H<span style="color:#ffd800;font-size:30px">2</span>N</span><span style="color:white;font-size:30px">mobile</span>
                </a>
            </div>
            <div class="col-6" style="text-align:center">
                <ul class="nav">
                    <li class="nav-item" style="text-align:center">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/apple-64.png" style="width:25px; height:25px" /><br />
                            Apple
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/smart-phone.png" style="width:25px; height:25px" /><br />
                            Samsung
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/xiaomi.png" style="width:25px; height:25px" /><br />
                            Xiaomi
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/login-64.png" style="width:25px; height:25px" /><br />
                            Đăng nhập
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/search-3-64.png" style="width:25px; height:25px" /><br />
                            Tìm kiếm
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <img src="~/Assets/Image/cart-69-128.png" style="width:25px; height:25px" /><br />
                            Giỏ hàng
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3" style="text-align:left;margin:auto auto">
                <form class="d-flex">
                    <input class="form-control mr-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn" type="submit"><img src="~/Assets/Image/search-3-64.png" style="width:25px;height:25px" /></button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="height:600px">

    </div>
    <div class="container-fluid">
        <div class="row" style="background-color:#e8e8e8;height:100px">
            <div class="col-6" style="text-align:right;margin:auto auto">
                <span style="font-weight:bold">TỔNG ĐÀI 24/7</span><br />
                <span>(8h00 đến 21h30 tất cả các ngày trong tuần)</span>
            </div>
            <div class="col-6" style="text-align:left;margin:auto auto;font-size:40px">
                <span style="color:blue">(+84) 033 8016 618</span>
            </div>
        </div>
        <div class="row" style="background-color:#efeded;border-top:1px solid red;height:150px">
            <div class="col-6" style="text-align:center">
                <table style="float:right;">
                    <tr>
                        <td style="font-weight:bold">Hệ thống cửa hàng H2N mobile</td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Phú</span>
                            140 Lê Trọng Tấn, P.Tây Thạnh, Q.Tân Phú,TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Phú</span>
                            30/52 Đỗ Nhuận, P.Sơn kỳ, Q.Tân Phú,TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Bình</span>
                            162 Trường Chinh, P.12, Q.Tân Bình,TP.HCM
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6" style="text-align:center">
                <table style="float:left">
                    <tr>
                        <td style="font-weight:bold">Hệ thống cửa hàng H2N mobile</td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Phú</span>
                            140 Lê Trọng Tấn, P.Tây Thạnh, Q.Tân Phú,TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Phú</span>
                            30/52 Đỗ Nhuận, P.Sơn kỳ, Q.Tân Phú,TP.HCM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight:bold">Q.Tân Bình</span>
                            162 Trường Chinh, P.12, Q.Tân Bình,TP.HCM
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="background-color:#151515;text-align:center;color:white">
            <span>
                Copyright © 2018 H2N Mobile GPKD 41X8032798 UBNN Quận Tân Phú cấp ngày 28/5/2018 , Inc. All rights reserved
            </span><br />
            <span>
                140 Lê Trọng Tấn, P.Tây Thạnh, Q.Tân Phú, Tp.HCM - 033 8016 618 (Zalo) - thengoc828@gmail.com
            </span>
        </div>
    </div>
</body>
</html>
