<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QL_WEBDTDbContext" connectionString="data source=LAPTOP-60FS37C3\SQLEXPRESS;initial catalog=QL_WEBDT;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>